*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Roboto";
}

.body {
    box-sizing: border-box;
    font-family: "Roboto";
    font-weight: 400;
    color: black;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

.wrapper > * {
    padding: 20px;
}
.page-main {
    flex-grow: 1;
}
.container {
    background-color: #1F2937;
    border: 5px solid #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 0%;
    color: #E5E7EB;
    font-size:18px;
    padding-left:50px;
  }
.container .space {
    flex: 2 1 0%;
}
.item {
    width: 130px;
    height: 30px;
}

.container .logo {
    font-weight:700px;
    color: #F9FAF8;
    font-size:24px;
    padding-right:150px;
}

.heromaintxt {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.info {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin: 4px 2px;
  }
.container2 {
    background-color: #1F2937;
    border: 5px solid #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex: 1 1 0%;
    color: #E5E7EB;
    font-size:18px;
    padding-left:50px;
    padding-bottom: 100px;
}

  .containercol {
    height: 100px;
    background-color: #1F2937;
    border: 5px solid #1F2937;
    display: flex;
    flex-direction: column;
  }

.imgcontainer {
    height: 150px;
    width: 500px;
    padding: 65px;
    font-size: 18px;
    background-color: #8C92AC;
    color: #E5E7EB;
    text-align: center;
  }

  .midcontainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    padding-left:200px;
    padding-right: 200px;
  }

  .midheader {
    font-size: 36px;
    text-align:center;
    padding-bottom: 20px;
    font-weight: bolder;
    color: #1F2937;
  }

  .gallerycontainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    font-size:14px;
  }

  .bluesquare {
    border:3px solid #3882F6;
    height: 100px;
    width: 100px;
    color: #F9FAF8;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin: 4px 2px;
  }

  .galleryinfo {
    height: 100px;
    width: 100px;
    font-size:11px;
    text-align: center;
    color: #1F2937;
  }

.quotecontainer {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.quote {
    text-align: center;
    font-size: 36px;
}

.quotefrom {
    text-align: right;
    font-size: 24px;
}

.ctacontainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    padding-left:150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    
  }

  .ctabox {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    color: #E5E7EB;
    padding-left:75px;
    padding-right: 75px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 6px;
    font-size: 18px;
  }

  .ctatext {
    padding-right: 125px;
  }

  .buttonsignup {
    color: #E5E7EB;
    border-radius: 8px;
    border-style: solid;
    border-color: #E5E7EB;
    background-color: #3882F6;
    padding: 10px 16px;
    margin: 4px 2px;
    font-size: 16px;
  }